* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #aaa;
}






.main {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #999;

}

.head>.nav {
    color: white;
    width: 450px;
    height: 50px;
}

.nav>ul>li>.f_button {
    float: left;
    width: 150px;
    max-height: 50px;
}

.nav>ul>li {
    float: left;
    list-style: none;
    width: 100px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.nav>ul>li>a {
    color: white;
    text-decoration: none;
}

.main>div {
    margin: 20px 25px 20px 25px;
}




.title_head {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: white;
    /* background-image: repeating-linear-gradient(to right, pink, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}

.bgi_lzj_1 {
    background-image: url(../image/lzj_1.jpg);
}

.bgi_ghj_1 {
    background-image: url(../image/ghj_1.jpg);
}

.bgi_lzj_2 {
    background-image: url(../image/lzj_2.jpg);
}

.bgi_dwc_1 {
    background-image: url(../image/dwc_1.jpg);
}